<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BoldGrid Customization Controls</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/dashicons/0.1.0/css/dashicons.min.css">
</head>
<body>
  <ul class="bg-tabs">
	  <%= require("@boldgrid/components/src/app/templates/bg-logo.ejs")() %>
	  <li class="tab-link current" data-tab="colors-tab"><a href="#colors-tab">Palette Customization</a></li>
	  <li class="tab-link" data-tab="palette-selection-tab"><a href="#palette-selection-tab">Palette Selection</a></li>
	  <li class="tab-link" data-tab="slider-tab"><a href="#slider-tab">Slider</a></li>
	  <li class="tab-link" data-tab="directional-controls"><a href="#directional-controls">Multi Slider</a></li>
	  <li class="tab-link" data-tab="animations-tab"><a href="#animations-tab">Animations</a></li>
	  <li class="tab-link" data-tab="typography-tab"><a href="#typography-tab">Typography</a></li>
	  <li class="tab-link" data-tab="device-visibility"><a href="#device-visibility">Device Visibility</a></li>
  </ul>

  <div class="bg-tabs-content current colors-tab">
	  <%= require("./app/template/color-tab.html") %>
  </div>
  <div class="bg-tabs-content palette-selection-tab">
	  <div class="control"></div>
	  <div class="log log-area"></div>
  </div>
  <div class="bg-tabs-content slider-tab">
	  <%= require("./app/template/slider-tab.html") %>
  	</div>
  <div class="bg-tabs-content directional-controls">
	  <%= require("./app/template/directional-controls.html") %>
  	</div>
  <div class="bg-tabs-content animations-tab">
	  <%= require("./app/template/animation-controls.html") %>
  	</div>
  <div class="bg-tabs-content typography-tab">
	  <%= require("./app/template/typography.html") %>
  	</div>
  <div class="bg-tabs-content device-visibility">
	  <%= require("./app/template/device-visibility.html") %>
  	</div>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="./static/iris.min.js"></script>
</body>
</html>
